<p id="notice"><%= notice %></p>

<p>
  <strong>Authorization uri:</strong>
  <%= @open_auth.authorization_uri %>
</p>

<p>
  <strong>Token credential uri:</strong>
  <%= @open_auth.token_credential_uri %>
</p>

<p>
  <strong>Redirect uri:</strong>
  <%= @open_auth.redirect_uri %>
</p>

<p>
  <strong>Client:</strong>
  <%= @open_auth.client_id %>
</p>

<p>
  <strong>Client secret:</strong>
  <%= @open_auth.client_secret %>
</p>

<p>
  <strong>Scope:</strong>
  <%= @open_auth.scope %>
</p>

<p>
  <strong>Code:</strong>
  <%= @open_auth.code %>
</p>

<p>
  <strong>State:</strong>
  <%= @open_auth.state %>
</p>

<p>
  <strong>Scope:</strong>
  <%= @open_auth.scope %>
</p>

<p>
  <strong>Access token:</strong>
  <%= @open_auth.access_token %>
</p>

<p>
  <strong>Token type:</strong>
  <%= @open_auth.token_type %>
</p>

<p>
  <strong>Expires in:</strong>
  <%= @open_auth.expires_in %>
</p>

<p>
  <strong>Update:</strong>
  <%= @open_auth.update %>
</p>
<%= @auth_uri %>
<%= link_to 'Edit', edit_open_auth_path(@open_auth) %> |
<%= link_to 'Back', open_auths_path %>
